@charset "utf-8";

/* slider */
.slider .prev, .slider .next { 
    display: block; 
    position: absolute; top: 50%; transform: translateY(-50%); 
    width: 25px; height: 47px; 
    background: url('../img/sp_com.png') no-repeat;
    color: transparent;
    z-index: 10;
}
.slider .prev { left: 82px; background-position: -128px -60px; }
.slider .next { right: 82px; background-position: -158px -60px; }

.slider .control { position: absolute; left: 0; bottom: 55px; width: 100%; text-align: center; }
.slider .control > div { display: inline-block; position: relative; padding: 0 45px 0 0; }
.slider .control > div > div { position: absolute; right: 0; }
.slider .control > div > div a { 
    display: inline-block; 
    width: 8px; height: 9px; 
    overflow: hidden; 
    background: url('../img/sp_com.png') no-repeat;
    margin: 0 0 0 7px;
    opacity: 0.5;
}
.slider .control > div > div a.on { opacity: 1; }
.slider .control > div > div a.play { background-position: -108px -72px; }
.slider .control > div > div a.pause { background-position: -108px -60px; }

.slider .control ul { display: inline-block; font-size: 0; position: relative; top: -7px; }
.slider .control li { display: inline-block; padding: 0 3px; }
.slider .control li.on a { background: #fff; }
.slider .control li a { 
    display: block; 
    width: 50px; height: 5px; 
    background: rgba(255,255,255,0.5); 
    border: none;
}
.slider .control a { color: transparent; }
.slider .control a { border: 1px solid red; border: none; }